/* Estilização Global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Estilização da Navegação */
.navbar {
    background-color: #004085;
}

.navbar h2 {
    color: #fff;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffc107;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280,0,0,0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilização do Carrossel */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
}

/* Estilização dos Cards */
h1 {
    color: #004085;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 30px;
    background-color:cornflowerblue;
}

.cards {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #004085;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}

/* Estilização do Rodapé */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 2rem 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar h2 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }
}

